#fraProfileContent { 
  h1 {color: black;
      width: 100%;
     text-align:center;
      font-family: Georgia, Times New Roman;
      font-weight: bold;
      font-size:clamp(15px,10cqw,28px);
      }
  h1 + div {filter: drop-shadow(0px -2px 3px black);}
  div + h1 {filter: drop-shadow(0px 2px 3px black);}
.prayerforlovingsorrow {
  display:flex; justify-content: space-evenly;}
div div {
  padding: 10px;}
}
