#fraProfileContent { 
  background-color: #0001;
  padding: 10px;
  border: black dashed 2px;
  margin: 20px;
  h1 {color: black;
      width: 100%;
     text-align:center;
      font-family: Georgia, Times New Roman;
      font-weight: bold;
      font-size:clamp(15px,10cqw,20px);
      }
  .top h1 {filter: drop-shadow(0px 2px 3px black);}
  .bottom h1 {filter: drop-shadow(0px -2px 3px black);}
.prayerforlovingsorrow {
  display:flex; justify-content: space-evenly;}
div div {
  padding: 10px;}
  .caligula {
    display: inline;
    padding: 0;
    margin: 0;
    a {color:#941bb3;}
    a:hover {color:#c725d9;}
  }
}
