#fraProfileContent { 
  h1 {color: black;
      width: 100%;
     text-align:center;
    filter: drop-shadow(0px -2px 3px black);
      font-family: Georgia, Times New Roman;
      font-weight: bold;
      }
.prayerforlovingsorrow {
  display:flex; justify-content: space-evenly;}
div div {
  padding: 10px;}
}
